<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="1.1.11" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.11" targetFramework="net461" />
  <package id="System.ServiceModel.Http" version="4.5.3" targetFramework="net461" />
  <package id="System.ServiceModel.Primitives" version="4.5.3" targetFramework="net461" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="net461" />
</packages>